@import "tailwindcss";


@theme {
  --color-bg-dark: #080808;
  --color-bg: #0a0a0a;
  --color-bg-light: #1a1a1a;

  --color-text: #ffffff;
  --color-text-muted: #8a8a8a;
  --color-text-muted-extra: #6a6a6a;

  --color-accent: #3b82f6;
  --color-accent-hover: #2563eb;
  --color-border: #2a2a2a;

  --font-family-sans: Satoshi, ui-sans-serif, system-ui, sans-serif;
}
